<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Account</title>
    <link rel="stylesheet" href="/static/confirm.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container confirm-container">
            <form action="/confirmeacc" method="post" id="confirm-form">
                <h1>Confirm Account</h1>
                <input type="text" name="code" placeholder="Confirmation Code" />
                <button type="submit"  id="confirm">Confirm</button>
            </form>
        </div>
    </div>
</body>
</html>