<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/history.css">
    <title>Feedback Analyzer</title>
</head>
<body>

    <header>
        <a href="#" class="logo">Feedback Analyzer</a>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="#services">Services</a>
            <a href="/login">Login</a>
            <a href="">Dashboard</a>
        </nav>
    </header>
              <div class="videos-container">
                <div class="card video-card">
                  <img src="https://i.ytimg.com/an_webp/4gX44uyGSHo/mqdefault_6s.webp?du=3000&sqp=CLCniLIG&rs=AOn4CLDmJapzDCFl_Xdh9OZFz5gqxY3PrQ" alt="" class="video-img">
                  <a href="" class="video-link"><p class="video-title">test adadasdad dadadasdadas dahgduahgdajhgda duahgdhjagsd jkadhjkdhkajsd kajshdajksdhjahdh kjahsdajdakdhajhd skjdhajkdhsajdha</p></a>
                  <div class="res-container">
                    <div class="res">
                      <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.1 20.5c0 1.5 1.482 2.5 2.64 2.5.806 0 .869-.613.993-1.82.055-.53.121-1.174.267-1.93.386-2.002 1.72-4.56 2.996-5.325V8C15 5.75 14.25 5 11 5H7.227C5.051 5 4.524 6.432 4.328 6.964A15.85 15.85 0 0 1 4.315 7c-.114.306-.358.546-.638.82-.31.306-.664.653-.927 1.18-.311.623-.27 1.177-.233 1.67.023.299.044.575-.017.83-.064.27-.146.475-.225.671-.143.356-.275.686-.275 1.329 0 1.5.748 2.498 2.315 2.498H8.5S8.1 19 8.1 20.5zM18.5 15a1.5 1.5 0 0 0 1.5-1.5v-7a1.5 1.5 0 0 0-3 0v7a1.5 1.5 0 0 0 1.5 1.5z" fill="#000000"></path></g></svg>
                      <p>50</p>
                    </div>
                    <div class="res">
                      <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.1 20.5c0 1.5 1.482 2.5 2.64 2.5.806 0 .869-.613.993-1.82.055-.53.121-1.174.267-1.93.386-2.002 1.72-4.56 2.996-5.325V8C15 5.75 14.25 5 11 5H7.227C5.051 5 4.524 6.432 4.328 6.964A15.85 15.85 0 0 1 4.315 7c-.114.306-.358.546-.638.82-.31.306-.664.653-.927 1.18-.311.623-.27 1.177-.233 1.67.023.299.044.575-.017.83-.064.27-.146.475-.225.671-.143.356-.275.686-.275 1.329 0 1.5.748 2.498 2.315 2.498H8.5S8.1 19 8.1 20.5zM18.5 15a1.5 1.5 0 0 0 1.5-1.5v-7a1.5 1.5 0 0 0-3 0v7a1.5 1.5 0 0 0 1.5 1.5z" fill="#000000"></path></g></svg>
                      <p>50</p>
                    </div>
                    <div class="res">
                      <h1>-</h1>
                      <p>50</p>
                    </div>
                    <div class="res">
                      <h3>?!</h1>
                      <p>50</p>
                    </div>
                  </div>
                </div>
                <div class="card video-card">
                  <img src="https://i.ytimg.com/an_webp/4gX44uyGSHo/mqdefault_6s.webp?du=3000&sqp=CLCniLIG&rs=AOn4CLDmJapzDCFl_Xdh9OZFz5gqxY3PrQ" alt="" class="video-img">
                  <a href="" class="video-link"><p class="video-title">test adadasdad dadadasdadas dahgduahgdajhgda</p></a>
                  <div class="res-container">
                    <div class="res">
                      <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.1 20.5c0 1.5 1.482 2.5 2.64 2.5.806 0 .869-.613.993-1.82.055-.53.121-1.174.267-1.93.386-2.002 1.72-4.56 2.996-5.325V8C15 5.75 14.25 5 11 5H7.227C5.051 5 4.524 6.432 4.328 6.964A15.85 15.85 0 0 1 4.315 7c-.114.306-.358.546-.638.82-.31.306-.664.653-.927 1.18-.311.623-.27 1.177-.233 1.67.023.299.044.575-.017.83-.064.27-.146.475-.225.671-.143.356-.275.686-.275 1.329 0 1.5.748 2.498 2.315 2.498H8.5S8.1 19 8.1 20.5zM18.5 15a1.5 1.5 0 0 0 1.5-1.5v-7a1.5 1.5 0 0 0-3 0v7a1.5 1.5 0 0 0 1.5 1.5z" fill="#000000"></path></g></svg>
                      <p>50</p>
                    </div>
                    <div class="res">
                      <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.1 20.5c0 1.5 1.482 2.5 2.64 2.5.806 0 .869-.613.993-1.82.055-.53.121-1.174.267-1.93.386-2.002 1.72-4.56 2.996-5.325V8C15 5.75 14.25 5 11 5H7.227C5.051 5 4.524 6.432 4.328 6.964A15.85 15.85 0 0 1 4.315 7c-.114.306-.358.546-.638.82-.31.306-.664.653-.927 1.18-.311.623-.27 1.177-.233 1.67.023.299.044.575-.017.83-.064.27-.146.475-.225.671-.143.356-.275.686-.275 1.329 0 1.5.748 2.498 2.315 2.498H8.5S8.1 19 8.1 20.5zM18.5 15a1.5 1.5 0 0 0 1.5-1.5v-7a1.5 1.5 0 0 0-3 0v7a1.5 1.5 0 0 0 1.5 1.5z" fill="#000000"></path></g></svg>
                      <p>50</p>
                    </div>
                    <div class="res">
                      <h1>-</h1>
                      <p>50</p>
                    </div>
                    <div class="res">
                      <h3>?!</h1>
                      <p>50</p>
                    </div>
                  </div>
                </div>
                <div class="card video-card">
                  <img src="" alt="" class="video-img">
                  <a href="" class="video-link"><p class="video-title"></p></a>
                </div>  
                <div class="card video-card">
                    <img src="" alt="" class="video-img">
                    <a href="" class="video-link"><p class="video-title"></p></a>
                </div>
                <div class="card video-card">
                    <img src="" alt="" class="video-img">
                    <a href="" class="video-link"><p class="video-title"></p></a>
                </div>  
                <div class="card video-card">
                    <img src="" alt="" class="video-img">
                    <a href="" class="video-link"><p class="video-title"></p></a>
                  </div>
                  <div class="card video-card">
                    <img src="" alt="" class="video-img">
                    <a href="" class="video-link"><p class="video-title"></p></a>
                  </div>  
                  <div class="card video-card">
                      <img src="" alt="" class="video-img">
                      <a href="" class="video-link"><p class="video-title"></p></a>
                  </div>
                  <div class="card video-card">
                      <img src="" alt="" class="video-img">
                      <a href="" class="video-link"><p class="video-title"></p></a>
                  </div>  
              </div>
            </div>
    
    <footer class="footer">
        <p class="footer-title">Copyrights @ <span>Feedback Analyzer Productions</span></p>
        <div class="social-icons">
            
        </div>
    </footer>
    <script src="/static/main.js"></script>
</body>
</html>